# name : arrow in activity diagram
# contributor : hejack0207 <hejack0207@sina.com>
# key: aarr
# --
${1:-[${2:#${3:colorname$(yas-completing-read "color name?" '("red" "green" "blue"))},}${4:${5:style$(yas-completing-read "style?" '("bold" "dotted" "dashed"))}}]}-> ${6:notation here};