# name : swimlanes for activity diagram
# contributor : hejack0207 <hejack0207@sina.com>
# key: aswim
# --
|${1:#${2:color name$(yas-completing-read "color name? " '("green" "blue" "red"))}|}${3:name}|