# name : condition ifelif for activity diagram
# contributor : hejack0207 <hejack0207@sina.com>
# key: acifelif
# --
if (${1:condition}) then (${2:yes})
   :${3:activity};
elseif (${4:condition}) then (${5:yes})
   :${6:activity};
else (${7:condition}) (${8:nothing})
   :${9:activity};
endif