# name : message in sequence diagram
# contributor : hejack0207 <hejack0207@sina.com>
# key: smes
# --
${1:name} ${2:->$(yas-completing-read "arrow style?" '("->" "->x" "->>" "-\\" "\\\\-" "//-" "->o" "o\\\\-" "<->" "<->o"))}-> ${3:name} : $0