# name : participant decare for sequence diagram
# contributor : hejack0207 <hejack0207@sina.com>
# key: spa
# --
${1:participant type$(yas-completing-read "type?" '("actor" "boundary" "contorl" "entity" "database" "participant"))} "${2:description}" ${3:as name} ${4:order number} ${4:#${5:color}}